PresentationTier/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DataService" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataService" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarEstadoEnlace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_estado_enlace" type="xs:int" />
        <xs:element minOccurs="0" name="porcent_pings_perd" type="xs:double" />
        <xs:element minOccurs="0" name="tiempo_monitoreo" type="xs:int" />
        <xs:element minOccurs="0" name="fk_id_farm" type="xs:int" />
        <xs:element minOccurs="0" name="ip_farm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombre_farm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarEstadoEnlaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertarEstadoEnlaceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerEstados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerEstadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="obtenerEstadosResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="intermitenciaDataSet.Estado_EnlaceDataTable" Namespace="http://schemas.datacontract.org/2004/07/DataEntityTier" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
            <xs:attribute fixed="http://tempuri.org/intermitenciaDataSet.xsd" name="namespace" />
            <xs:attribute fixed="Estado_EnlaceDataTable" name="tableTypeName" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarEstadoEnlace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_estado_enlace" type="xs:int" />
        <xs:element minOccurs="0" name="porcent_pings_perd" type="xs:double" />
        <xs:element minOccurs="0" name="tiempo_monitoreo" type="xs:int" />
        <xs:element minOccurs="0" name="fk_id_farm" type="xs:int" />
        <xs:element minOccurs="0" name="ip_farm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombre_farm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarEstadoEnlaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modificarEstadoEnlaceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarEstadoEnlace">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarEstadoEnlaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eliminarEstadoEnlaceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarFarmacia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_farmacia" type="xs:int" />
        <xs:element minOccurs="0" name="nombre_farmacia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ip_farmacia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rec_alerta" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarFarmaciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertarFarmaciaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerFarmacias">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerFarmaciasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="obtenerFarmaciasResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="intermitenciaDataSet.Info_FarmaciaDataTable" Namespace="http://schemas.datacontract.org/2004/07/DataEntityTier" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
            <xs:attribute fixed="http://tempuri.org/intermitenciaDataSet.xsd" name="namespace" />
            <xs:attribute fixed="Info_FarmaciaDataTable" name="tableTypeName" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarFarmacia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoFarmacia" type="xs:int" />
        <xs:element minOccurs="0" name="nombreFarmacia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipFarmacia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rec_alerta" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarFarmaciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modificarFarmaciaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>